<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Portfolio</title>
  <meta name="description" content="Descrição da página para SEO">
  <link rel="stylesheet" href="work-page.component.css"> <!-- Use o CSS específico do componente About Me -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css">
  <script src="scripts.js"></script>
</head>

<body>

  <main>
    <section id="work" class="work-section">
       
            
            <!-- Adicione um link ou botão para voltar à página inicial -->
            <a href="/inicial-page" class="back-link">
              <i class="fas fa-arrow-left"></i> 
            </a>
         
      </section>
  </main>

</body>

</html>

