<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Portfolio</title>
  <meta name="description" content="Descrição da página para SEO">
  <link rel="stylesheet" href="about-page.component.css"> <!-- Use o CSS específico do componente About Me -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css">
  <script src="scripts.js"></script>
</head>

<body>

  <main>
    <section id="about" class="about-section">
      <div class="about-content">
        <aside class="image-aside">
          <img src="./assets/camposCosta.png" alt="Minha imagem">
        </aside>
        <div class="about-text">
          <h2>About Me</h2>
          <p>
            Olá, eu sou Francisco Campos Costa, um editor e diretor de fotografia apaixonado por contar histórias visuais. Com anos de experiência na indústria cinematográfica, estou comprometido em capturar momentos incríveis e criar conteúdo excepcional. Minha paixão pela arte do cinema me levou a explorar novos horizontes e aperfeiçoar minha técnica.
          </p>
          <!-- Adicione um link ou botão para voltar à página inicial -->
          <a href="/inicial-page" class="back-link">
            <i class="fas fa-arrow-right"></i> 
          </a>
        </div>
      </div>
    </section>
  </main>

</body>

</html>
