<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Portfolio</title>
  <meta name="description" content="Descrição da página para SEO">
  <link rel="stylesheet" href="about-page.component.css"> <!-- Use o CSS específico do componente About Me -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css">
  <script src="scripts.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
</head>

<body>

  <div class="wrapper">
    <div class="cols cols0">
      <span class="topline">Hello from</span>
      <h1><span class= "multiText">a Cinematographer</span></h1>
      <p>Lorem fdvbhujfdivgdugbcyhs chsu kkkkkkkkkj hhhhhh hhhhh hhh hhhh hhhhhh hhhhh hhh cccccccccccccccccccccccccccc fffffffffff ffffff fffffffff ffff ggg ggggg gggg gggg agbyhvuif dbsyu </p>
     
      <div class="btns">
        <a href="./caminho/para/seu_cv.pdf" download class="cv-download-link">
          <button>Download CV</button>
        </a>
      </div>

    </div>  
    <div class="cols cols1">
      <div class="imgbox">
        <img src="./assets/camposCosta.png" alt="User Image">
      </div>      
    </div>
  </div>
  
 
  
  





          <a href="/inicial-page" class="back-link">
            <i class="fa-solid fa-angle-right"></i> 
          </a>
  

</body>
 
</html>
