<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Portfolio</title>
    <meta name="description" content="Descrição da página para SEO">
    <link rel="stylesheet" href="work-page2.component.css"> <!-- Use o CSS específico do componente About Me -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css">
    <script src="scripts.js"></script>
</head>

<body>

  <div class="container">
      <h1>Portfolio</h1> <!-- Título acima dos retângulos -->
      <div id="slide">

          <!-- Retângulo maior -->
        <div class="item" style="background-image: url(./assets/rr.jpg);">
            <div class="content content1">
                <div class="name">LUNADEV</div>
                <div class="des">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent lobortis semper elementum. Nulla aliquet quam quis ultricies bibendum. </div>
                <button data-youtube-link="URL_DO_SEU_VIDEO1">See full video</button>
            </div>
        </div>
        
        <div class="item" style="background-image: url(./assets/tt.jpg);">
            <div class="content content2">
                <div class="name">LUNADEV</div>
                <div class="des">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent lobortis semper elementum. Nulla aliquet quam quis ultricies bibendum. </div>
                <button data-youtube-link="URL_DO_SEU_VIDEO1">See full video</button>
            </div>
        </div>
        
        <div class="item" style="background-image: url(./assets/uu.jpg);">
            <div class="content content3">
                <div class="name">LUNADEV</div>
                <div class="des">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent lobortis semper elementum. Nulla aliquet quam quis ultricies bibendum. </div>
                <button data-youtube-link="URL_DO_SEU_VIDEO1">See full video</button>
            </div>
        </div>
        

      </div>

    <div class="buttons">
        <button id="prev" class="button-prev"><i class="fas fa-angle-left"></i></button>
        <button id="next" class="button-next"><i class="fas fa-angle-right"></i></button>
    </div>
    
    

  </div>

  <a href="/inicial-page" class="back-link">
      <i class="fa-solid fa-angle-left"></i>
  </a>

</body>

</html>