<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Meta tags e links para estilos e scripts... -->
</head>
<body>
  <header>
    <div class="navbar">
      <div class="name-container">
        <div class="name">FRANCISCO CAMPOS COSTA</div>
        <div class="subtitle">Editor & Director of Photography</div>
      </div>
      <ul class="nav-links">
        <li>
          <a href="#about">About</a>
          <p class="custom-p">Bio & Projects</p> 
        </li>
        <li>
          <a href="#contact">Contact</a>
          <p class="custom-p">example@email.com</p> 
        </li>
      </ul>      
    </div>
  </header>
  <main>
    <!-- Conteúdo do portfólio -->
  </main>
  <!-- Scripts... -->
</body>
</html>
