body {
  margin: 0;
  padding: 0;
}

/* Barra de navegação */
header {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%; /* Use 100% para que o conteúdo se ajuste à largura da página */
  margin: 0 auto;
  padding: 2%; /* Use porcentagem para espaçamento relativo ao tamanho do contêiner */
}

.name-container {
  text-align: center;
  margin-left: 5%; /* Use porcentagem para posicionamento relativo */
}

.name {
  font-size: 20px;
  font-family: 'Stratos', sans-serif;
  font-weight: 900;
}

.subtitle {
  font-family: 'Stratos', sans-serif;
  font-size: 12px;
  font-style: italic;
}

.nav-links {
  font-size: 17px;
  font-family: 'Stratos', sans-serif;
  list-style: none;
  display: flex;
  margin-right: 100px;
  text-align: center;
}

.nav-links li {
  margin-left: 70px;
}

.nav-links a {
  text-decoration: none;
  color: #000000;
  transition: color 0.3s;
  position: relative;
}

.nav-links a:hover {
  color: #888;
}

/* Estilos personalizados para os parágrafos (.custom-p) */
.custom-p {
  font-family: 'Stratos', sans-serif;
  font-size: 12px;
  color: #888;
  text-align: center;
  margin: 0;
}

/* Estilos para os spans abaixo de cada link */
.nav-links a span {
  font-family: 'Stratos', sans-serif;
  font-size: 10px;
  color: #888;
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
}

.nav-links a:hover span {
  display: block;
}

main {
  margin-top: 10%; /* Use porcentagem para posicionamento relativo ao tamanho da página */
  padding: 2%; /* Use porcentagem para espaçamento relativo ao tamanho da página */
  max-width: 100%; /* Use 100% para que o conteúdo se ajuste à largura da página */
}






.about-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  margin: 0 auto;
  padding: 8%;
}

.about-images {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.about-images img {
  max-width: 100%; /* Certifica-se de que as imagens não ultrapassem o contêiner */
}

.about-text {
  flex: 1; /* Ocupa o espaço restante disponível */
}

.about-text h2 {
  font-size: 24px;
  font-family: 'Stratos', sans-serif;
  font-weight: 700;
  margin-bottom: 1rem;
}

.about-text p {
  font-size: 16px;
  font-family: 'Stratos', sans-serif;
  color: #000;
  text-align: left;
}















footer {
  width: 100%; /* Use 100% para que o footer se ajuste à largura da página */
  background-color: #efefef;
  color: #000000;
  margin: 0;
  padding: 0;
}

#footer_content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 5%; /* Use porcentagem para espaçamento relativo ao tamanho do contêiner */
}



#footer_contacts h1 {
  margin-bottom: 0.75rem;
  font-size: 40px;
  font-family: 'Stratos', sans-serif;
  font-weight: 900;
}

#footer_contacts p {
  margin-bottom: 0.75rem;
  font-size: 18px;
  font-weight: 500;

}

#footer_contacts p a {
  color: #000;
  text-decoration: none;
}


#footer_social_media {
  display: flex;
  gap: 2rem;
  margin-top: 1.5rem;

}

#footer_social_media .footer-link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.5rem;
  width: 2rem;
  color: #171717;
  border-radius: 50%;
  transition: all 0.4s;
}


#footer_social_media .footer-link i {
  font-size: 1.16rem;
}

.footer-link {
  text-decoration: none;
  margin-right: -3%; 
  
}



.footer-list {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  list-style: none;
}

.footer-list .footer-link {
  color: #616161;
}


#footer_subscribe {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}


#input_group {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 4px;

  padding: 1rem; /* Adiciona espaço interno para as barras de input */
}

#input_group input {
  all: unset;
  padding: 0.7rem;
  width: 100%;
  background-color: #fff; /* Definir a cor de fundo do input como branco */
  max-width: 500px; /* Define a largura máxima das barras de input */
  margin-bottom: 1rem;
  border-radius: 20px; /* Bordas arredondadas */
  text-align: center; /* Centraliza o texto do placeholder */
  font-size: 16px; /* Tamanho da fonte para o placeholder */
}

#input_group input::placeholder {
  font-family: 'Stratos', sans-serif; /* Define a fonte para os placeholders */
  font-size: 13px; /* Tamanho da fonte para os placeholders */
}


#input_group button {
  background-color: #efefef;
  border: none;
  color: #171717;
  font-size: 1.125rem;
  cursor: pointer;
  transition: all 0.4s;
}

#input_group button:hover, #footer_contacts p a:hover, #footer_social_media .footer-link:hover {
  opacity: 0.7;
}




#footer_copyright {
  font-family: 'Stratos', sans-serif;
  font-size: 0.6rem;
  font-weight: 400;
  align-items: center;
  display: flex;
  justify-content: center;

}


@media screen and (max-width: 426px) {
  #footer_content {
    grid-template-columns: repeat(1, 1fr);
    gap: 3rem 2rem;
  }
}
