<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Portfolio</title>
    <meta name="description" content="Descrição da página para SEO">
    <link rel="stylesheet" href="inicial-page.component.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css">
    <script src="scripts.js"></script>
  </head>
  
<body>
  <header>
    <div class="navbar">
      <div class="name-container">
        <div class="name">FRANCISCO CAMPOS COSTA</div>
        <div class="subtitle">Editor & Director of Photography</div>
      </div>
      <ul class="nav-links">
        <li>
          <a (click)="scroll(about)">About</a>
        </li>
        <li>
          <a routerLink="/work-page">Work</a>
        </li>
        <li>
          <a (click)="scroll(contacts)">Contacts</a>
        </li>
      </ul>      
    </div>
  </header>


  <main>
    <section #about>
      <div class="about-content">
        <div class="about-images">
          <img src="camposCosta.png" alt="Foto do rapaz 1">
          <img src="camposCosta.png" alt="Foto do rapaz 2">
        </div>
        <div class="about-text">
          <h2>About Me</h2>
          <p>
            Olá, eu sou Francisco Campos Costa, um editor e diretor de fotografia apaixonado por contar histórias visuais. Com anos de experiência na indústria cinematográfica, estou comprometido em capturar momentos incríveis e criar conteúdo excepcional. Minha paixão pela arte do cinema me levou a explorar novos horizontes e aperfeiçoar minha técnica.
          </p>
        </div>
      </div>
    </section>
    

    <section id="work">

      

    </section>


  </main>


    <section #contacts>

      <footer id="contacts">
        <div id="footer_content">
          <div id="footer_contacts">
            <h1>CC.PRODS</h1>
            <p><a href="mailto:francisco@gmail.com">francisco@gmail.com</a></p>
            <p>(+351) 912345432</p>

            <div id="footer_social_media">
              <a href="https://www.instagram.com/seuusuario" class="footer-link" id="instagram">
                <i class="fa-brands fa-instagram" style="color: #000000;"></i>
              </a>
              <a href="https://www.youtube.com/@cc.prods1" class="footer-link" id="youtube">
                <i class="fa-brands fa-youtube" style="color: #000000;"></i>
              </a>
              <a href="https://www.linkedin.com/in/seuusuario" class ="footer-link" id="linkedIn">
                <i class="fa-brands fa-linkedin" style="color: #000000;"></i>
              </a>
              <a href="https://wa.me/seunumerodetelefone" class="footer-link" id="whatsapp">
                <i class="fa-brands fa-whatsapp" style="color: #000000;"></i>
              </a>
            </div>
          </div>
          <div id="footer_subscribe">
            <form [formGroup]="emailForm">

            <div id="input_group">
                <input type="text" formControlName="name" placeholder="Name">
                <div *ngIf="emailForm.get('name')?.hasError('required') && emailForm.get('name')?.touched" class="error-message">
                  Name is required.
                </div>
                <div *ngIf="emailForm.get('name')?.hasError('maxLength') && emailForm.get('name')?.touched" class="error-message">
                  Name should have fewer than 50 characters.
                </div>
                <div *ngIf="emailForm.get('name')?.hasError('pattern') && emailForm.get('name')?.touched" class="error-message">
                  Invalid name.
                </div>
          
                <input type="email" formControlName="email" placeholder="Email">
                <div *ngIf="emailForm.get('email')?.hasError('required') && emailForm.get('email')?.touched" class="error-message">
                  Email is required.
                </div>
                <div *ngIf="emailForm.get('email')?.hasError('pattern') && emailForm.get('email')?.touched" class="error-message">
                  Invalid Gmail email address.
                </div>
          
                <input type="text" formControlName="message" placeholder="Message">
                <div *ngIf="emailForm.get('message')?.hasError('required') && emailForm.get('message')?.touched" class="error-message">
                  Message is required.
                </div>
                <div *ngIf="emailForm.get('message')?.hasError('maxLength') && emailForm.get('message')?.touched" class="error-message">
                  Message should have fewer than 100 characters.
                </div>
          
                <button (click)="sendEmail()">
                  <i class="fa-regular fa-paper-plane" style="color: #000000;"></i>
                </button>
            </div>
          </form>

          </div>
          
          
        </div>
        <div id="footer_copyright">
          &copy; 2023 All Rights Reserved
        </div>  
      </footer>

    </section>

</body>
</html>
