html, body {
  margin: 0;
  padding: 0;
  background-color: #010101;
  color: white;
  font-family: 'Stratos', sans-serif;
  height: 100%;
}


.spinner {
  display: flex;
  justify-content: center; /* Centraliza horizontalmente */
}

.spinner img {
  width: 250px; /* Torna a imagem 1/3 do tamanho original */
  height: auto; /* Mantém a proporção da imagem */
  margin-top: -30px;
  animation: spin 4s linear infinite; /* Adiciona a animação de rotação */
}


/*@keyframes spin {
  0% {
    transform: rotateX(0deg); 
  }
  100% {
    transform: rotateX(360deg); 
  }
}*/

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  margin: 0;
  padding: 0;
}

.name-container {
  margin-top: -80px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.subtitle {
  font-family: 'Stratos', sans-serif;
  font-size: 16px;
  font-style: italic;
  margin-top: 1rem; /* Ajuste conforme necessário */
}

.conteudoPrincipal{
  height: 100vh;
}

.name {
  font-size: 24px;
  font-family: 'Stratos', sans-serif;
  font-weight: 900;
}

.nav-link1 {
  display: flex;
  align-items: center; /* Alinha verticalmente */
  position: relative;
}

#icon {
  position: absolute;
  left: -10px; /* Ajuste este valor conforme necessário */
  transition: left 0.3s ease; /* Adiciona uma transição suave para o efeito de deslizamento */
}

#icon3 {
  position: absolute;
  right: 205px; /* Ajuste este valor conforme necessário */
  transition: right 0.3s ease; /* Adiciona uma transição suave para o efeito de deslizamento */
}

#icon2 {
  position: absolute;
  top: -20px;
  transition: top 0.3s ease; /* Adiciona uma transição suave para o efeito de deslizamento */
}


.nav-link1 .fa-angle-left {
  margin-right: 5px; /* Espaçamento entre o ícone e o texto */
}

.nav-link2 {
  display: flex;
  align-items: center;
  position: relative;
}

.nav-link2 .nav-text-container {
  display: flex;
  align-items: center; /* Alinha horizontalmente */
  position: relative;
}

.nav-link2 .back-link {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -15px; /* Ajuste vertical para posicionar abaixo de "Contacts" */
}

.nav-link3 {
  display: flex;
  align-items: center; /* Alinha verticalmente */
}

.nav-link3 .fa-angle-right {
  margin-left: 5px; /* Espaçamento entre o ícone e o texto */
}

.nav-link1 a:hover,
.nav-link2 a:hover,
.nav-link3 a:hover {
  cursor: pointer;
   /* Cor quando está hover */
}

.main-nav-links {
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding: 0;
  margin-top: 2%;
  align-items: center; /* Adiciona alinhamento vertical ao centro */
}



.main-nav-links .nav-text {
  text-decoration: none;
  color: white;
  transition: color 0.3s;
  display: flex;
  flex-direction: column;
  align-items: center; /* Adiciona alinhamento vertical ao centro */
}

.main-nav-links a:hover {
  color: #888;
}

.main-nav-links a{
  font-family: 'Open Sans', sans-serif;
  font-size: 22px;
}

main {
  margin-top: 0;
  max-width: 100%;
}




footer {
  width: 100%;
  background-color: rgb(179, 177, 177);
  color: #000000;
  margin: 0;
}

#footer_content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 5%;
}

#footer_contacts h1 {
  margin-bottom: 0.5rem;
  font-size: 40px;
  font-weight: 400;
}

#footer_contacts p {
  margin-bottom: 0.5rem;
  font-size: 18px;
  font-weight: 500;
}

#footer_contacts p a {
  color: white; /* Alteração da cor do texto para branco */
  text-decoration: none;
}

#footer_contacts p a:hover{
  color: black; /* Alteração da cor do texto para branco */
}

#footer_social_media {
  display: flex;
  gap: 2rem;
  margin-top: 1.5rem;
}

#footer_social_media .footer-link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.5rem;
  width: 2rem;
  color: #171717;
  border-radius: 50%;
  transition: all 0.4s;
}

#footer_social_media .footer-link i {
  font-size: 1.16rem;
}

.footer-link {
  text-decoration: none;
  margin-right: -3%;
}

.footer-list {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  list-style: none;
}

.footer-list .footer-link {
  color: rgb(179, 177, 177);
}

#footer_subscribe {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

#input_group {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  border-radius: 4px;
  padding: 1rem;
  margin-top: 1.35rem;
}

#input_group input {
  all: unset;
  padding: 0.7rem;
  width: 100%;
  background-color: #fff;
  max-width: 500px;
  margin-bottom: 1rem;
  border-radius: 20px;
  text-align: center;
  font-size: 16px;
}

#input_group input::placeholder {
  font-family: 'Stratos', sans-serif;
  font-size: 13px;
}

.error-message {
  color: red;
  font-size: 12px;
  text-align: center;
  margin-top: -0.5rem;
  margin-bottom: 0.5rem;
}

#input_group button {
  background-color: rgb(179, 177, 177);
  border: none;
  color: #171717;
  font-size: 1.125rem;
  cursor: pointer;
  transition: all 0.4s;
  margin-top: 0.5rem;
}

#input_group button:hover,
#footer_contacts p a:hover,
#footer_social_media .footer-link:hover {
  opacity: 0.7;
}

#footer_copyright {
  font-family: 'Stratos', sans-serif;
  font-size: 0.6rem;
  font-weight: 400;
  align-items: center;
  display: flex;
  justify-content: center;
  text-align: center;
}

@media screen and (max-width: 426px) {
  #footer_content {
    grid-template-columns: repeat(1, 1fr);
    gap: 3rem 2rem;
  }
}

