<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Portfolio</title>
    <meta name="description" content="Descrição da página para SEO">
    <link rel="stylesheet" href="inicial-page.component.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css">
    <script src="scripts.js"></script>
  </head>
  

<body>


  <div class="conteudoPrincipal">
    <div class="navbar">
      <div class="name-container">
        <img src="assets/Francisco Costa.svg" alt="Descrição da Imagem">
      </div>
    </div>
    


    <main>
      <ul class="main-nav-links">
        <li class="nav-link1">
          <i class="fa-solid fa-angle-left"></i> 
          <a routerLink="/about-page" class="nav-text">About</a>
        </li>

        <li class="nav-link2">
          <a (click)="scroll(contacts)" class="nav-link"></a>
          <div class="nav-text-container">
            <a class="nav-text">Contacts</a>
            <span class="back-link">
              <i class="fa-solid fa-angle-down"></i> 
            </span>
          </div>
        </li>

        <li class="nav-link3">
          <a routerLink="/work-page" class="nav-text">Work</a>
            <i class="fa-solid fa-angle-right"></i> 
        </li>
      </ul>
    </main>
    
  </div>


    <section #contacts >

      <footer id="contacts">
        <div id="footer_content">
          <div id="footer_contacts">
            <h1>CC.PRODS</h1>
            <p><a href="mailto:francisco&#64;gmail.com">francisco&#64;gmail.com</a></p>
            <p>(+351) 912345432</p>

            <div id="footer_social_media">
              <a href="https://www.instagram.com/seuusuario" class="footer-link" id="instagram">
                <i class="fa-brands fa-instagram" style="color: #000000;"></i>
              </a>
              <a href="https://www.youtube.com/@cc.prods1" class="footer-link" id="youtube">
                <i class="fa-brands fa-youtube" style="color: #000000;"></i>
              </a>
              <a href="https://www.linkedin.com/in/seuusuario" class ="footer-link" id="linkedIn">
                <i class="fa-brands fa-linkedin" style="color: #000000;"></i>
              </a>
              <a href="https://wa.me/seunumerodetelefone" class="footer-link" id="whatsapp">
                <i class="fa-brands fa-whatsapp" style="color: #000000;"></i>
              </a>
            </div>
          </div>
          <div id="footer_subscribe">
            <form [formGroup]="emailForm">

            <div id="input_group">
                <input type="text" formControlName="name" placeholder="Name">
                <div *ngIf="emailForm.get('name')?.hasError('required') && emailForm.get('name')?.touched" class="error-message">
                  Name is required.
                </div>
                <div *ngIf="emailForm.get('name')?.hasError('maxLength') && emailForm.get('name')?.touched" class="error-message">
                  Name should have fewer than 50 characters.
                </div>
                <div *ngIf="emailForm.get('name')?.hasError('pattern') && emailForm.get('name')?.touched" class="error-message">
                  Invalid name.
                </div>
          
                <input type="email" formControlName="email" placeholder="Gmail">
                <div *ngIf="emailForm.get('email')?.hasError('required') && emailForm.get('email')?.touched" class="error-message">
                  Gmail is required.
                </div>
                <div *ngIf="emailForm.get('email')?.hasError('pattern') && emailForm.get('email')?.touched" class="error-message">
                  Invalid Gmail email address.
                </div>
          
                <input type="text" formControlName="message" placeholder="Message">
                <div *ngIf="emailForm.get('message')?.hasError('required') && emailForm.get('message')?.touched" class="error-message">
                  Message is required.
                </div>
                <div *ngIf="emailForm.get('message')?.hasError('maxLength') && emailForm.get('message')?.touched" class="error-message">
                  Message should have fewer than 100 characters.
                </div>
          
                <button (click)="sendEmail()">
                  <i class="fa-regular fa-paper-plane" style="color: #000000;"></i>
                </button>
            </div>
          </form>

          </div>
          
          
        </div>
        <div id="footer_copyright">
          &copy; 2023 All Rights Reserved
        </div>  
      </footer>

    </section>

</body>
</html>
