<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Portfolio</title>
  <meta name="description" content="Descrição da página para SEO">
  <link rel="stylesheet" href="work-page3.component.css"> <!-- Use o CSS específico do componente About Me -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css">
  <script src="scripts.js"></script>
</head>

<body>

  <div class="container">
    <div id="slide">


      <div class="item" style="background-image: url(./assets/InterviewWithAmon_Cover.png);">
        <video autoplay muted loop class="video-background" style="display: none;">
            <source src="./assets/INTERVIEW WITH AMON (Directed by_ Count Angelo Studioso) (online-video-cutter.com).mp4" type="video/mp4">
            Your browser does not support the video element.
        </video>
        <div class="content">
          <div class="name">INTERVIEW WITH AMON</div>
          <div class="des">When a rising star has an encounter with a sadistic fan he learns the true impact the Hollywood Elite have on the mentally unwell</div>
          <button data-youtube-link="https://youtu.be/113IB-A3Hmw?si=pGdvYrM_encR2HYF">See full video</button>        
        </div>
      </div>

      <div class="item" style="background-image: url(./assets/Lazers-AllWeHave_Cover.jpg);">
        <video autoplay muted loop class="video-background" style="display: none;">
            <source src="./assets/Lazers(online-video-cutter.com).mp4" type="video/mp4">
            Your browser does not support the video element.
        </video>
        <div class="content">
          <div class="name">LAZERS: ALL WE HAVE (Official Documentary)</div>
          <div class="des">Lazers: All We Have" is a documentary about the football season of Onondaga Community College in the Fall of 2021.</div>
          <button data-youtube-link="https://youtu.be/qgEvOoFQNcY?si=2JcJZwFMjBxm2pos">See full video</button>        
        </div>
      </div>

      <div class="item" style="background-image: url(./assets/Alice_Cover.jpg);">
        <video autoplay muted loop class="video-background">
            <source src="./assets/Recording 2024-04-02 095143 (online-video-cutter.com).mp4" type="video/mp4">
            Your browser does not support the video element.
        </video>
        <div class="content">
            <div class="name">ALICE</div>
            <div class="des">Caught between an abusive relationship and her father's disappearance, Alice lives an apathetic life. When the possibility of hidden money comes to light, she finds herself faced with the opportunity to free herself from the chains that bind her to a miserable life. But, in the balance, more interests weigh than just Alice's.</div>
            <button data-youtube-link="https://www.youtube.com/@cc.prods1/videos">See full video</button>        
        </div>
      </div>

      <div class="item" style="background-image: url(./assets/Hopeless_Cover.jpg);">
        <video autoplay muted loop class="video-background" style="display: none;">
            <source src="./assets/Hopeless - Short Film (online-video-cutter.com).mp4" type="video/mp4">
            Your browser does not support the video element.
        </video>
        <div class="content">
          <div class="name">HOPELESS (Short Film)</div>
          <div class="des">When a man loses his family in a snow storm, he finds himself lost in the raw beauty and harshness of the wilderness.</div>
          <button data-youtube-link="https://youtu.be/bLAZreg9hLE?si=HaVL54lHqlXk_nv_">See full video</button>        
        </div>
      </div>

      <div class="item" style="background-image: url(./assets/Framed_Poster.jpg);">
        <video autoplay muted loop class="video-background" style="display: none;">
            <source src="./assets/FRAMED _ Short Film (online-video-cutter.com).mp4" type="video/mp4">
            Your browser does not support the video element.
        </video>
        <div class="content">
          <div class="name">FRAMED (Short Film)</div>
          <div class="des">When a man gets framed by a crime he didn't commit, a mysterious suitcase breaks a relationship.</div>
          <button data-youtube-link="https://youtu.be/Pc9PqExaBMw?si=dhvNoJFS86IR9hMV">See full video</button>        
        </div>
      </div>


      <div class="item" style="background-image: url(./assets/GameNight_Cover.png);">
        <video autoplay muted loop class="video-background" style="display: none;">
            <source src="./assets/Game Night (Scene)(clip).mp4" type="video/mp4">
            Your browser does not support the video element.
        </video>
        <div class="content">
          <div class="name">GAME NIGHT (Scene)</div>
          <div class="des">Two members of an organised crime group play a game of pool as they discuss a deal gone wrong.</div>
          <button data-youtube-link="https://youtu.be/sQsvAT4UagQ?si=W3iINk987ozOZKsG">See full video</button>        
        </div>
      </div>


      <div class="item" style="background-image: url(./assets/WishThatIHad_Cover.jpg);">
        <video autoplay muted loop class="video-background" style="display: none;">
            <source src="./assets/Wish That I Had (Short Film) (online-video-cutter.com).mp4" type="video/mp4">
            Your browser does not support the video element.
        </video>
        <div class="content">
          <div class="name">WISH THAT I HAD (Short Film)</div>
          <div class="des">A trauma, a dead girl and a tape. How is Carl going to deal with that?</div>
          <button data-youtube-link="https://youtu.be/3ON0HLoAAXc?si=PLdtdUxzjbepEbeL">See full video</button>        
        </div>
      </div>

    </div>

    <div class="buttons">
      <button id="prev"><i class="fa-solid fa-angle-left"></i></button>
      <button id="next"><i class="fa-solid fa-angle-right"></i></button>
    </div>

  </div>

  <a [routerLink]="['/inicial-page']" class="back-link">
    <i class="fa-solid fa-angle-left"></i>
  </a>


</body>

</html>
